.page__header
  min-height: 150px
  padding: 30px 15px
  text-align: center
  background-color: #3399ff
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75)

.page__title
  margin: 0 auto 25px

.page__desc
  width: 80%
  margin: 0 auto
  padding-bottom: 20px 

.page__footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 1rem
  background-color: #3399ff
  box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.5)

.footer__text
  text-align: center

.footer__link
  color: #fff
  text-decoration: none

  &:hover
    color: #f00