.card__container
  width: 220px
  height: 350px
  margin: 10px
  padding: 10px
  align-self: center
  border: 1px solid #000
  background-color: #ddd
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75)

.card__info
  text-align: center